ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li.navitem {
    float: left;
}

li.navitem a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover:not(.active) {
    background-color: #3CB371;
}

li.navitem a.active {
    color: white;
    background-color: #8FBC8F;
}